<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculadora de Churrasco</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<div id="calculadora">
    <div class="container">
        <div class="row">
            <div class="col-10" align="center">
                <nav class="navbar navbar-light bg-light">
                    <a class="navbar-brand" href="#">
                        <img src="./assest/chef-hat.png" width="30" height="30" class="d-inline-block align-top" alt="">
                        {{ titulo }}
                    </a>
                </nav>
                <br> <br>
            </div>
            <div class="col-10">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="addon-wrapping">?</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Quantidade de adultos"
                                       aria-label="Username" aria-describedby="addon-wrapping" id="homens" type="text"
                                       v-model="adultos" name="adultos">
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="addon-wrapping2">?</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Quantidade de crianças"
                                       aria-label="Username" aria-describedby="addon-wrapping" id="criancas" type="text"
                                       v-model="criancas" name="criancas">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10">
                <br> <br>
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <ul>
                                <p v-for="carne in carnesBovinas" :key="carne.carne">
                                    <input type="checkbox" v-bind:id="carne.carne" v-bind:value="carne.carne"
                                           v-model="carnesBovinasEscolhidas">
                                    <span>{{carne.carne}}</span>
                                </p>
                            </ul>
                        </div>
                        <div class="col-sm">
                            <ul>
                                <p v-for="carne in outrasCarnes" :key="carne.carne">
                                    <input type="checkbox" v-bind:id="carne.carne" v-bind:value="carne.carne"
                                           v-model="outrasCarnesEscolhidas">
                                    <span>{{carne.carne}}</span>
                                </p>
                            </ul>
                        </div>
                        <div class="col-sm">
                            <ul>
                                <p v-for="bebida in bebidas" :key="bebida.bebida">
                                    <input type="checkbox" v-bind:id="bebida.bebida" v-bind:value="bebida.bebida"
                                           v-model="bebidasEscolhidas" aria-label="Checkbox for following text input">
                                    <span>{{bebida.bebida}}</span>
                                </p>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10" align="center">
                <br> <br>
                <button type="button" class="btn btn-dark" align="center" @click="calcularChurrasco" data-toggle="modal" data-target="#exampleModal">Calcular</button>
                <br> <br>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Lista de Compras</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div align="center">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Produto</th>
                                <th scope="col">Quantidade</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="escolha in resultado">
                                <td>{{ escolha.nome }}</td>
                                <td>{{ escolha.quantidade }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>

<!-- Instancia do Vue.js-->
<script src="https://unpkg.com/vue"></script>

<!-- Script local baseado em Vue-->
<script src="./script/app.js"></script>

<!-- BootStrap-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
